.services {background-color: #eee;padding-top:2.5%;padding-bottom:2.5%;}
.padding-top {padding-top: 2%;justify-content: left;}
.work-together {background-image: url(../../work-together.jpg); background-size: cover; padding: 4% 0;}
.work-btn {padding: 0.43rem 1rem;border:2px solid #11c711;background: transparent;color:#11c711;font-size: 13px;font-weight: bolder;}
.work-btn:hover {background-color: #11c711;cursor: pointer;color: #fff;transition: all .5s ease}