.price-wrapper {background-color: #fff;}
@media (min-width:768px){
    .price-category{
        max-width: 23%!important;
    }
}
@media (min-width: 481px) and (max-width: 768px) {  
    
}
.price-category {
    background-color: #3c3a3a;margin: 0 auto;padding:10px 0;padding-right: 0!important;padding-left: 0!important;
}
.price-margin-bottom {margin-bottom: 20px;}
.price-amount {background-color: #58f579;padding: 6px 0;font-size: 14px;color:white;margin-bottom: 0;}
.price-title {color: #11c711;text-transform: uppercase; font-size: 18px;padding:10px 0;margin-bottom: 0;}
.detail {text-align:left;padding:20px 15px;color:white;font-size: 13px;}
.dashed-border-bottom {border-bottom: 1px dashed #11c711;padding-bottom: 8px;padding-top: 2px;margin-bottom: 0;}
.price-btn {outline: none;background: transparent;border:1px solid #3e3939;color:white;font-size: 14px;padding:5px 20px;border-radius: 20px;box-shadow: 0px 0px 6px #000;margin-bottom:.5rem;}
.price-btn:hover {cursor: pointer}
.price-btn:focus {outline: none; color:#11c711;background-color: #4c4c4c;}
.price-list {background-color: #eee;padding-top:4.5rem;padding-bottom: 4.5rem;}
.client-slider {padding: 2.4rem 0;overflow: hidden;margin:0 auto;}
.client-border {border: 1px solid #ddd; padding: 5px;color:#ddd;width: 90%!important;}
.img {width: 100%;height: 127px!important;filter: contrast(0%);opacity: 0.2;}
.quote-wrapper {background-image: url("../../quote.jpg"); background-size: cover; padding:3% 0;}
.margin-top {margin-top:-6px;}
.quote-button-align {text-align: right};


@media (max-width:600px){
    .client-border {width: 99%!important;}
    .quote-button-align {text-align: center}
}