.counter-wrapper {padding: 2% 0; background-image: url(../../counter.jpg); background-size: cover;margin-top: 3%;}
.number-font {font-size: 30px; color: yellowgreen;}
.title-font {color: white; font-weight: bold;}