.team-wrapper {padding-top:2.5rem;}
.circle-img {border-radius: 50%; width: 100px; height: 100px;border: 3px solid #aaaaaa73;}
.person-border {border:2px solid #aaaaaa73; padding: 2% 0; margin:0 2%;max-width: 21%!important;}
.person-name {margin-top:15px;margin-bottom:0; text-transform:uppercase}
.person-designation {text-transform: uppercase;font-size: 13px;}