.text-right{
    text-align: right;
}

.header-img::before{
    content: "";
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../../header.jpg);
    background-size: cover;
    filter: brightness(50%);
}

.text-left{
    text-align: left;
}

.contact-wrapper{
    background-color: #525659;
}

.navigation-wrapper{
    background-color: #525659b3;
}

ul{
    text-decoration: none;
}

ul li{
    display: inline;
    padding-left: 10px;
}

.padding{
    padding-top: 18%;
    padding-bottom: 20%;
}

.position-relative{
    position: relative;
}

.header-btn {padding: 0.33rem 1rem;outline:0;border:1px solid white;background: transparent;color:#fff;text-transform: uppercase;font-size: 13px;margin:0 0.43rem;}
.header-btn:hover {cursor: pointer; background:#11c711;border:1px solid #11c711;transition:all .5s ease;}

.navbar{
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.nav-link{
    color:#ffffff9e!important;
}

.header-active .nav-link{
    color:#fff!important;
    border-bottom: 1px solid #11c711;
}