.footer-wrapper {background-color: #000;padding:0.655rem 0;}
.col-footer-div {padding-left: 0!important;padding-right: 0!important;}
.row {margin-right: 0px!important;margin-left: 0px!important;}
.flex {display: flex;}
.icon-border {cursor: pointer;
    margin-left: 4px; 
    display: flex;
    width: 20.5px;
    height: 20.5px;
    color: rgba(167,167,167,0.42);
    font-size: 11px;overflow: hidden;border: 1px solid rgba(167,167,167,0.42);}
    .icon-border::before {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;}
        .icon-wrapper{display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;}
.scroll {
    /* opacity: 0.3; */
    background-color: #2b2b2b;
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 69px;
    left: 95%;
    box-shadow: 0px 0px 10px #000;
    border: none;
    transform: rotate(45deg);
}
.scroll:hover {
opacity: 1;
}
.floating-icon-a{
    color:#117c1e;
    text-decoration: none;
    padding: 0px 15px;
    position: absolute;
    top: 8px;
}
.scroll:focus{
    outline: none;
}