@media (min-width: 1025px) and (max-width: 1280px) {
    .master-padding{
        padding-left: 20%!important;
        padding-right: 20%!important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .master-padding{
        padding-left: 20%!important;
        padding-right: 20%!important;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .master-padding{
        padding-left: 10%!important;
        padding-right: 10%!important;
    }
    .text-style{
        border-left: 0!important;
    }
    .our-story{
        text-align: center;
    }
    .our-video{
        margin-top: 10px;
    }
    .footer-div-center{
        justify-content: center!important;
        margin-top: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .master-padding{
        padding-left: 10%!important;
        padding-right: 10%!important;
    }
    .text-style{
        border-left: 0!important;
    }
    .our-story{
        text-align: center;
    }
    .our-video{
        margin-top: 10px;
    }
    .footer-div-center{
        justify-content: center!important;
        margin-top: 10px;
    }
    .contact-wrapper{
        display: none;
    }
}